.container{
    display:flex;
    justify-content:center;
    align-items: center;
    width:70%;
    margin: 0 auto;
}

sub{
    display:flex;
    justify-content:center;
    align-items: center;
    width:70%;
    margin: 0 auto;
}

img{
    align-items: center;
    width:70%;
    height: auto;
}
